<div class="body grafico-barras">
    <div class="contenedor-padre">
        <div class="contenedor contenedor-graficos">
            <h2> Habilidades Duras</h2>
            
            <div class="skills">
                <div class="detalles">
                    <span>HTML</span>
                    <span>90%</span>
                </div>

                <div class="menu">
                    <div id="html-menu"></div>
                </div>
            </div>

            <div class="skills">
                <div class="detalles">
                    <span>CSS</span>
                    <span>70%</span>
                </div>

                <div class="menu">
                    <div id="css-menu"></div>
                </div>
            </div>
            <div class="skills">
                <div class="detalles">
                    <span>JAVASCRIPT</span>
                    <span>50%</span>
                </div>

                <div class="menu">
                    <div id="js-menu"></div>
                </div>
            </div>

            <div class="skills">
                <div class="detalles">
                    <span>ANGULAR</span>
                    <span>70%</span>
                </div>

                <div class="menu">
                    <div id="angular-menu"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-padre ">
        <div class="contenedor contenedor-graficos">
            <h2> Habilidades Blandas</h2>
            
            <div class="skills">
                <div class="detalles">
                    <span>Liderazgo</span>
                    <span>85%</span>
                </div>

                <div class="menu">
                    <div id="liderazgo-menu"></div>
                </div>
            </div>

            <div class="skills">
                <div class="detalles">
                    <span>Colaboracion</span>
                    <span>70%</span>
                </div>

                <div class="menu">
                    <div id="colab-menu"></div>
                </div>
            </div>
            <div class="skills">
                <div class="detalles">
                    <span>Adaptabilidad</span>
                    <span>70%</span>
                </div>

                <div class="menu">
                    <div id="adapt-menu"></div>
                </div>
            </div>

            <div class="skills">
                <div class="detalles">
                    <span>Pensamiento crítico</span>
                    <span>90%</span>
                </div>

                <div class="menu">
                    <div id="pensamiento-menu"></div>
                </div>
            </div>
        </div>
    </div>
</div>
