<section>
    <div class="educacion">
        <h4>Mi Educacion</h4>
        <div class="contenedor">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imagenes/logomater (1).jpg" alt="Colegio">
                <div class="card-body">
                  <h5 class="card-title">Mater Ter Admirabilis (2008-2022)</h5>
                  <p class="card-text">Colegio donde cursé la primaria y secundaria. Orientacion: Bachillerato en Matemática y Física. Aprendí Ingles y alemán</p>
                  <a href="https://www.colegiomater.edu.ar/" class="btn btn-primary" target="_blank">Ir al Sitio</a>
                </div>
              </div>
            
            
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imagenes/cambridge (1).jpg" alt="Ingles">
                <div class="card-body">
                  <h5 class="card-title">Cambridge English (2012-2022)</h5>
                  <br>
                  <p class="card-text">Esudié inglés 12 años en el colegio, y alcancé una certificación C1 Advanced</p>
                  <a href="https://www.cambridgeenglish.org/es/exams-and-tests/advanced/" class="btn btn-primary" target="_blank">Ir al Sitio</a>
                </div>
              </div>
            
            
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imagenes/goethe (1).jpg" alt="Ingles">
                <div class="card-body">
                  <h5 class="card-title">Goethe Institut (2015-2022)</h5>
                  <br>
                  <p class="card-text">Estudié alemán 5 años en el colegio, y alcancé una certificación Fit A2</p>
                  <a href="https://www.goethe.de/ins/ar/es/sta/bue/prf/gzsd2.html" class="btn btn-primary" target="_blank">Ir al Sitio</a>
                </div>
              </div>
        
        
        
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imagenes/yo programo (1).png" alt="Ingles">
                <div class="card-body">
                  <h5 class="card-title">Se Programar (2022)</h5>
                  <br>
                  <p class="card-text">Completé la primera parte del Plan Argentina Programa, y actualemente estoy cursando la segunda etapa, Yo Programo</p>
                  <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="btn btn-primary" target="_blank">Ir al Sitio</a>
                </div>
              </div>
        </div>
        
    </div>
</section>