<section class="section-1">
    <div class="habilidades contenedor" id="Habilidades">

        <div class="habilidades-content ">
            <h2>Acerca de Mí</h2>
            <p></p>
        </div>

        <div class="habilidades-tarjetas">
            <div class="tarjetas">
                <img src="../../assets/imagenes/pexels-luis-gomes-546819.jpg" alt="">
                <h3>Front End </h3>
                <p>Como desarrollador Web, tengo los conocimientos necesarios para encargarme de todo aquello relativo al Front End de la aplicacion. Son todas las tecnologías de diseño y desarrollo web que corren en el navegador y que se encargan de la interactividad con los usuarios. Los lenguajes que controlo son HTML, CSS, Typescript</p>
            </div>

            <div class="tarjetas">
                <img src="../../assets/imagenes/artificial-intelligence-gd400ef15c_1280.jpg" alt="">
                <h3>Back End </h3>
                <p>Ser desarrollador Full Stack también implica poder dominar toda la lógica y los procdemientos que no son directamente accesibles por los usuarios. En ese sentido, soy capaz de producir toda la lógica de la aplicación y del servidor, con tecnologías que incluyen a Java, MySQL y SpringBoot</p>
            </div>

            <div class="tarjetas">
                <img src="../../assets/imagenes/blur-g4b89a973b_1280.jpg" alt="">
                <h3> Framework</h3>
                <p>Por último, es muy importante poder saber utilizar Frameworks, porque agiliza el proceso de desarrollo, y asegura la consistencia del código. Entre mis herramientas a la hora de utilizarlos, cuento con Angular y Spring </p>
            </div>
        </div>
    </div>
</section>
